ALPACA_API_KEY=your_alpaca_key
ALPACA_SECRET_KEY=your_alpaca_secret
ALPACA_BASE_URL=https://paper-api.alpaca.markets
ALPACA_DATA_URL=https://data.alpaca.markets
FINNHUB_API_KEY=your_finnhub_key
OPENAI_API_KEY=your_openai_key
ANTHROPIC_API_KEY=your_anthropic_key
KV_REST_API_URL=your_kv_url
KV_REST_API_TOKEN=your_kv_token
CRON_SECRET=your_cron_secret
API_SECRET=your_api_secret
